
# Исключаем директорию сборки Maven
target/
**/target/


!.mvn/wrapper/maven-wrapper.jar


.mvn/wrapper/maven-wrapper.properties


.idea/
*.iml
*.iws
.env
*.ipr
out/
todo


.project
.classpath
.settings/
.factorypath
.apt_generated/


nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


.vscode/


# Mac OS
.DS_Store

# Windows
Thumbs.db

*.log
logs/
tmp/
*.tmp


*.class


*.swp
*~
